@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --color-yellow: #FFEC43;
    --color-gray-background: #373737;
    --color-purple-: #662FDB;
    --color-purple-second: #8a65da;
    --white-: #FFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P';
    background-color: var(--color-gray-background);
}

nav {
    margin-top: 50px;
    text-align: center;
}

nav h1 {
    font-size: 48px;
    color: var(--color-yellow);
    text-shadow: black 4px 4px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.inputs p {
    font-family: 'Fira Code';
    font-size: 25px;
    color: var(--white-);
}

#barraPesquisa {
    margin-top: 22px;
    border: black 4px solid;
    box-shadow: black 4px 4px;
    width: 420px;
    height: 45px;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Press Start 2P';

}

#buttonPesquisa {
    margin-top: 50px;
    width: 420px;
    height: 50px;
    font-family: 'Press Start 2P';
    font-size: 25px;
    color:var(--white-);
    background-color: var(--color-purple-);
    box-shadow: black 4px 4px;
    cursor: pointer;


}

.filmes {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 420px;
    width: 100%;
}
.filmes h2 {
    margin: 50px 0 30px 80px;
    color: var(--color-yellow);
}
.filmes-wrapper {
    position: relative;
    overflow: hidden;

}
.filmes-list {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
}
.filmes ul,p {
    list-style: none;
    color: var(--color-purple-second);
    text-shadow: black 2px 2px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.filmes p {
    
    justify-content: center;
    
}
#top10 {
    margin-left: 50px;
}
#top10 img {
    margin: 0 200px 0 200px;
}
#number {
    position: absolute;
    font-size: 300px;
    z-index: -1;
}

.filmes img {
    height: 350px;
    width: 250px;
    margin: 0 70px 0 70px;
    object-fit: cover;
    border: var(--color-purple-) 3px solid;
    box-shadow: black 4px 4px;
    cursor: pointer;
    transition: all 80ms ease-in-out;
    
}

.filmes img:hover {
    transform: scale(1.05);
    border: var(--color-yellow) 5px solid;
    margin: 0 80px;
}
.arrow {
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    color: var(--color-yellow);
    opacity: 0.5;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;

}

.arrow-right {
    left: 97%;
}
.arrow-left {
    right: 97%;

}
footer {
    margin-top: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 70px;
}
footer p {
    margin-top: 20px;
    font-size: 25px;
    color: var(--white-)
}